@{
    ViewBag.Title = "Contact";
}
<h2>Contactinformatie</h2>

<address>
    <strong>Kantoor:</strong> <br />
    Autoverhuur Jansen<br />
    Patatlaan 21<br />
    2490BS Den Haag<br />
    <br />
    <strong>Garage:</strong><br />
    Autoverhuur Jansen<br />
    Frikandelstraat 8<br />
    2490BS Den Haag
</address>

<address>
    <strong>Telefoonnummer 1:</strong> 06-12345678  <br />
    <strong>Telefoonnummer 2:</strong> 070-1234567 <br />
    <strong>Emailadres:</strong> info@autoverhuurjansen.nl
</address>