@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Autoverhuur Jansen</h1>
    <p class="lead">Autoverhuur Jansen is een autobedrijf die auto's verhuurd aan particulieren. Wilt u een auto huren? <br />Simpel, op de website, kom langs of neem contact
        met ons op!<br /> Tel. 06-12345678 of kom langs op Banaanstraat 3, 7543LP Enschede.
    </p>    
    <p>@Html.ActionLink("Huur nu!", "hier komt", "het pad naar verhuren")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/img/audi.png" height="313px;" width="313px;"/>
    </div>
    <div class="col-md-4">
        <img src="~/img/bmw.jpg" height="313px;" width="313px;"/>
    </div>
    <div class="col-md-4">
        <img src="~/img/Porsche.png" height="313px;" width="313px;"/>
    </div>
</div>