@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Dit account is tijdelijke uitgeschakeld</h1>
    <h2 class="text-danger">Vraag naar de manager, of bel naar ons bedrijf!</h2>
</hgroup>
